In [1]:
import pandas as pd
import os
import shutil

In [2]:
df = pd.read_csv('./ISIC_2019_Training_GroundTruth.csv')

In [3]:
df.head()

          image  MEL   NV  BCC   AK  BKL   DF  VASC  SCC  UNK
0  ISIC_0000000  0.0  1.0  0.0  0.0  0.0  0.0   0.0  0.0  0.0
1  ISIC_0000001  0.0  1.0  0.0  0.0  0.0  0.0   0.0  0.0  0.0
2  ISIC_0000002  1.0  0.0  0.0  0.0  0.0  0.0   0.0  0.0  0.0
3  ISIC_0000003  0.0  1.0  0.0  0.0  0.0  0.0   0.0  0.0  0.0
4  ISIC_0000004  1.0  0.0  0.0  0.0  0.0  0.0   0.0  0.0  0.0

In [4]:
source = './ISIC_2019_Training_Input/'

In [5]:
def create_data(df, source, destination):
    allfiles = os.listdir(source)
    try: 
        os.mkdir(destination) 
    except OSError as error: 
        print(error)
    for file in allfiles:
        img_name = file.split('.')[0]
        if destination=="Melanoma":
            melanoma_list = df.loc[df['MEL']==1.0]['image'].sample(n = 2000).tolist()
            if img_name in melanoma_list:
                dest_file = destination +'_' + str(file)
                shutil.copy(source + file, destination + '/' + dest_file)
        elif destination=="Basal_cell_carcinoma":
            basal_cell_list = df.loc[df['BCC']==1.0]['image'].sample(n = 2000).tolist()
            if img_name in basal_cell_list:
                dest_file = destination +'_' + str(file)
                shutil.copy(source + file, destination + '/' + dest_file)
        else:
            nevus_list = df.loc[df['NV']==1.0]['image'].sample(n = 2000).tolist()
            if img_name in nevus_list:
                dest_file = destination +'_' + str(file)
                shutil.copy(source + file, destination + '/' + dest_file)

In [6]:
create_data(df, source, "Melanoma")

In [7]:
create_data(df, source, "Basal_cell_carcinoma")

In [8]:
create_data(df, source, "Nevus")